<ion-header>
	<ion-toolbar>
		<ion-button color="dark" [routerLink]="['/list-class']">
			<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
		  </ion-button>
	</ion-toolbar>
  </ion-header>
   
  <ion-content padding>
    <!-- <ion-list lines="full"> -->
      <ion-item>
        <ion-input required type="text" placeholder="class name" [(ngModel)]="classInfo.id"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-input required type="text" placeholder="class name" [(ngModel)]="classInfo.day"></ion-input>
      </ion-item> -->
    <!-- </ion-list> -->
    <ion-button expand="full" (click)="saveClassInfo()" color="dark">Save</ion-button>
  </ion-content>