<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h4>Class Menu</h4>
      </div>
      
  
      <div padding>
        <ion-button color="dark" size="large" [routerLink]="['/code']" expand="block">Generate code</ion-button>
      </div>
      
      <div padding>
        <ion-button color="dark" size="large" expand="block">Attendance</ion-button>
      </div>
      
    </ion-col>
  </ion-row>
  </ion-grid>