<ion-header>
    <ion-toolbar style="--background: linear-gradient(135deg, #EACAF7 0%, #734C92   100%)">
      <ion-button color="dark" [routerLink]="['/dashboard']">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
        <h1 style= "font-weight: bold;color:white;font-family: cursive" slot="end">CLASS LIST</h1>
    </ion-toolbar>
    </ion-header>

<ion-content style="background-color: white" >

<ion-list>
  <ng-container *ngIf="!classes || classes.length == 0">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-container>

  <ion-item-sliding *ngFor="let item of classes">
    <ion-card  class="card" style= "margin: 12px; border-radius: 15px" >
    <ion-item style="--background: linear-gradient(135deg, #CAE5F7 0%, #EACAF7 100%)" class="item" lines="inset" button [routerLink]="['/class-detail', item.id]" detail>
      <ion-icon size="large" slot="start" name="book"></ion-icon>
      <ion-label color="dark" font-weight="bold">
        <p style="color: palevioletred">Subject</p>
        {{ item.id }}
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="remove(item)" color="light">
        remove
        <ion-icon name="checkmark" slot="end"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-card>
  </ion-item-sliding>

</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button [routerLink]="['/add-class']" routerDirection="forward" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>