app-login {
    
}

$white-color: #fff;
$height100: 10%;

ion-grid {
    width:10%;
    height: $height100;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
}

ion-button {
    font-weight: 300;
    
}

  ion-item { 
    // .list {
    //     --ion-background-color:rgb(205, 177, 214);
    // }
  }
// ion-content{
//     --ion-background-color:wheat;
//     // .list {
//     //     --ion-background-color:white;
//     // }
    
// }

// .card {
//     background:wheat;
//    }
// .item {
//     background: rgb(205, 177, 214);
// }


@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: #303030;
    }
    ion-col {
        border: none;
    }
}