<ion-header>
  <ion-toolbar style="--background: #1B2A2C">
      <ion-button color="dark">
        <ion-back-button defaultHref="/list-class">
        </ion-back-button>
      </ion-button>
      <h4 style= "font-weight: bold;color:white" slot="end">Student Attendance</h4>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <ion-title>Student Attendance</ion-title> -->
    <ion-list>
          <ng-container *ngIf="!classDetail.students ||classDetail.students.length == 0">
          <div *ngFor="let n of [0,1,2]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>
      
        <ion-item-sliding *ngFor="let item of classDetail.students ">
          <ion-card style= "--background: #424242; margin: 12px; border-radius: 15px">
          <ion-item lines="inset">
              <ion-icon size="large" slot="start" name="contact"></ion-icon>
            <ion-label>
              {{ item}}
              
            </ion-label>  
          </ion-item>
        </ion-card>
        </ion-item-sliding>
      
      </ion-list>

</ion-content>
