<ion-header>
  <ion-toolbar style="--background: linear-gradient(135deg, #EACAF7 0%, #734C92   100%)">
          <ion-button color="light" [routerLink]="['/list-class']">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
          </ion-button>
      <ion-title slot="end" style= "font-weight: bold;color:white;font-family: cursive">
        Student Attendance
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <ion-title>Student Attendance</ion-title> -->
    <ion-list>
          <ng-container *ngIf="!classDetail.students ||classDetail.students.length == 0">
          <div *ngFor="let n of [0,1,2]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>
      
        <ion-item-sliding *ngFor="let item of classDetail.students ">
          <ion-card style= "--background: #424242; margin: 12px; border-radius: 15px">
          <ion-item style="--background: linear-gradient(135deg, #CAE5F7 0%, #EACAF7 100%)" lines="inset">
              <ion-icon size="large" slot="start" name="contact"></ion-icon>
            <ion-label>
              {{ item}}
              
            </ion-label>  
          </ion-item>
        </ion-card>
        </ion-item-sliding>
      
      </ion-list>

</ion-content>
