<ion-header>
	<ion-toolbar  style="--background: linear-gradient(135deg, #EACAF7 0%, #734C92   100%)">
		<ion-button color="light" [routerLink]="['/list-class']">
			<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    <ion-button color="light" (click)="codeGenerator()">
      Generate Code {{classId}}
      </ion-button>

	</ion-toolbar>
  </ion-header>
   

<ion-content padding>
  <ion-list>
    <ng-container *ngIf="!subjects || subjects.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
  
    <ion-item-sliding *ngFor="let item of subjects">
        <ion-card style=" margin: 12px; border-radius: 15px">
      <ion-item style="--background: linear-gradient(135deg, #CAE5F7 0%, #EACAF7 100%)" lines="inset" (click)="gotoStudentDetail(item)">
          <ion-icon size="large" slot="start" name="calendar"></ion-icon>
        <ion-label>
          {{ item.date }}
          
        </ion-label>
     
      </ion-item>
  
    </ion-card>
    </ion-item-sliding>
  
  </ion-list>
</ion-content>
