<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Attendance App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-img [src]="assets/icon/Untitled.png" />
    </ion-img>
  Welcome
  <br>

  <ion-button [routerLink]="['/login']">
    Continue
  </ion-button> -->
<!-- 
  <ion-header>
      <ion-toolbar>
        <ion-title>
          Attendance App
        </ion-title>
      </ion-toolbar>
    </ion-header> -->
    
    <ion-content padding>
    
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center class="ion-text-center">
          <!-- <img src="../../Login.png" width="200px" height="auto" /> -->
          <ion-img src="../../assets/icon/logo.png" width="200px" height="auto"></ion-img>
          <br />
            <p>Towards A Better Class Experience</p>
            <ion-button [routerLink]="['/login']">
              Continue
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    </ion-content>
    
    
    



