<ion-content padding>
    
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center class="ion-text-center">
          <!-- <ion-img src="../../assets/icon/logo.png" width="200px" height="auto"></ion-img> -->
          <br />
            <!-- <p style="color:white">Towards A Better Class Experience</p> -->
            <ion-button style="--background: linear-gradient(135deg, #EACAF7 0%, #734C92   100%); margin-top:250px"  [routerLink]="['/login']">
              Continue
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
    
    
    



